/* Mocha mousse: 
https://looka.com/blog/pantone-2025-color-of-the-year/
https://kidspattern.com/pantone/fhi-cotton-tcx/pantone-17-1230-tcx-mocha-mousse/
https://www.pantone.com/color-of-the-year/2025?srsltid=AfmBOoqwXlKHpmsUD_rApP98WwL08D9OFT3sdA-JUgolij262l7rB2GE
*/

:root {
  --maincol:#000000;
  --linkcol:#446CCF;
  --pubcol:#FFE4E1;
  --buttoncol:#F4F0EC;
}

a {
  color: var(--maincol);
  text-decoration: none;
}

/* unvisited link (Mocha mousse: #9e7a68) */
a.normal:link {
  color: var(--linkcol);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: var(--linkcol);
}

/* mouse over link */
a:focus, a:hover {
  color: var(--linkcol);
}

/* selected link */
a:active {
  color: var(--linkcol);
}

/* link with button border */
a.button:link, a.button:visited {
    color: var(--maincol);
    border: 1px solid var(--maincol);
    border-color: var(--maincol);
    background-color: var(--buttoncol);
    padding: 2px;
    border-radius: 3px;
    font-size: 11px;
    text-transform:uppercase;
}
a.button:hover, a.button:active {
  color: var(--linkcol);
}

/* link with button border (background-color: #d1907d) */
a.venue:link, a.venue:visited {
    color: var(--maincol);
    border: 1px solid var(--maincol);
    border-color: var(--maincol);
    background-color: var(--pubcol);
    padding: 2px;
    border-radius: 3px;
    font-size: 11px;
    text-transform:uppercase;
}
a.venue:hover, a.venue:active {
  color: var(--linkcol);
}


/* academicons and font awesome colors */
/* 
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
*/

/*
.scholar-icon {
    font-size: 30px;
    color: #b48f7e; 
    text-decoration: none;
    transition: color 0.3s;
}
*/
a.scholar-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px; /* Adjust size */
    height: 48px; /* Adjust size */
    background-color: var(--buttoncol); /* Google Scholar blue */
    border: 1px solid var(--maincol);
    border-color: var(--maincol);
    border-radius: 8px; /* 8px = Rounded corners ; 50% = round */
    color: white; /* White icon */
    fill: white;
    font-size: 30px; /* Adjust icon size */
    text-decoration: none;
    transition: background-color 0.3s ease;
}
a.scholar-icon:link {
  color: white;
}
a.scholar-icon:hover, a.scholar-icon:active {
    background-color: var(--pubcol);
}

/*
.linkedin-icon {
    font-size: 30px; 
    color: #b48f7e; 
    text-decoration: none;
    transition: color 0.3s;
}
*/
a.linkedin-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 48px; /* Adjust size */
        height: 48px; /* Adjust size */
        background-color: var(--buttoncol); /* LinkedIn blue */
        border: 1px solid var(--maincol);
        border-color: var(--maincol);
        border-radius: 8px; /* 8px = Rounded corners */
        color: white; /* White icon */
        fill: white;
        font-size: 30px; /* Adjust icon size */
        text-decoration: none;
        transition: background-color 0.3s ease;
    }
a.linkedin-icon:link {
  color: white;
}
a.linkedin-icon:hover, a.linkedin-icon:active {
    background-color: var(--pubcol);
}

/* 
.cv-icon {
    font-size: 30px; 
    color: #b48f7e; 
    text-decoration: none;
    transition: color 0.3s;
}
*/
a.cv-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px; /* Adjust size */
    height: 48px; /* Adjust size */
    background-color: var(--buttoncol); /* Change background color */
    border: 1px solid var(--maincol);
    border-color: var(--maincol);
    border-radius: 8px; /* 8px = Rounded corners */
    color: white; /* White icon */
    fill: white;
    font-size: 30px; /* Adjust icon size */
    text-decoration: none;
    transition: background-color 0.3s ease;
}
a.cv-icon:link {
  color: white;
}
a.cv-icon:hover, a.cv-icon:active {
    background-color: var(--pubcol);
}


/* default text color for whole site */
* {
  color: var(--maincol);
}


body,
td,
th,
tr,
p,
a {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
}

strong {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
}

h2 {
  margin: 0;
  font-weight: bold;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 18px;
}

h3 {
  margin: 0;
  font-weight: bold;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
}

.papertitle {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.name {
  padding-top: 20px;
  font-weight: bold;
  margin: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 28px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: white;
}

/* resizing JS D3 / margin-top: -100px; is what finally fixed the positioning */
.svg-container {
    float:top;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    vertical-align:top;
    padding: 50px;
    margin-top: -30px;
    font-size: 0;
  }
.svg-content {
    display: inline-block;
    position: absolute;
    vertical-align: top;
    width: 100px;
    height: 100px;
    left: 32.5%;
    top: 50%;
}
