a {
  color: #56443f;
  text-decoration: none;
}

/* unvisited link (Mocha mousse: #9e7a68) */
a.normal:link {
  color: #b48f7e;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #b48f7e;
}

/* mouse over link */
a:focus, a:hover {
  color: #97523e;
}

/* selected link */
a:active {
  color: #97523e;
}

/* link with button border */
a.button:link, a.button:visited {
    color: #56443f;
    border: 1.5px solid #56443f;
    border-color: #56443f;
    background-color: #e1d2cc;
    padding: 2px;
    border-radius: 3px;
    font-size: 11px;
    text-transform:uppercase;
}
a.button:hover, a.button:active {
  color: #97523e;
}

/* link with button border (background-color: #d1907d) */
a.venue:link, a.venue:visited {
    color: #56443f;
    border: 1.5px solid #56443f;
    border-color: #56443f;
    background-color: #d99b89;
    padding: 2px;
    border-radius: 3px;
    font-size: 11px;
    text-transform:uppercase;
}
a.venue:hover, a.venue:active {
  color: #97523e;
}


/* academicons and font awesome colors */
/* 
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
*/

/*
.scholar-icon {
    font-size: 30px;
    color: #b48f7e; 
    text-decoration: none;
    transition: color 0.3s;
}
*/
a.scholar-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px; /* Adjust size */
    height: 48px; /* Adjust size */
    background-color: #e1d2cc; /* Google Scholar blue */
    border-radius: 50%; /* 8px = Rounded corners */
    color: white; /* White icon */
    fill: white;
    font-size: 30px; /* Adjust icon size */
    text-decoration: none;
    transition: background-color 0.3s ease;
}
a.scholar-icon:link {
  color: white;
}
a.scholar-icon:hover, a.scholar-icon:active {
    background-color: #97523e;
}
a.scholar-icon:visited {
    background-color: #e1d2cc;
}

/*
.linkedin-icon {
    font-size: 30px; 
    color: #b48f7e; 
    text-decoration: none;
    transition: color 0.3s;
}
*/
a.linkedin-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 48px; /* Adjust size */
        height: 48px; /* Adjust size */
        background-color: #e1d2cc; /* LinkedIn blue */
        border-radius: 50%; /* 8px = Rounded corners */
        color: white; /* White icon */
        fill: white;
        font-size: 30px; /* Adjust icon size */
        text-decoration: none;
        transition: background-color 0.3s ease;
    }
a.linkedin-icon:link {
  color: white;
}
a.linkedin-icon:hover, a.linkedin-icon:active {
    background-color: #97523e;
}
a.linkedin-icon:visited {
    background-color: #e1d2cc;
}

/* 
.cv-icon {
    font-size: 30px; 
    color: #b48f7e; 
    text-decoration: none;
    transition: color 0.3s;
}
*/
a.cv-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px; /* Adjust size */
    height: 48px; /* Adjust size */
    background-color: #e1d2cc; /* Change background color */
    border-radius: 50%; /* 8px = Rounded corners */
    color: white; /* White icon */
    fill: white;
    font-size: 30px; /* Adjust icon size */
    text-decoration: none;
    transition: background-color 0.3s ease;
}
a.cv-icon:link {
  color: white;
}
a.cv-icon:hover, a.cv-icon:active {
    background-color: #97523e;
}
a.cv-icon:visited {
    background-color: #e1d2cc;
}


/* default text color for whole site */
* {
  color: #56443f;
}


body,
td,
th,
tr,
p,
a {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
}

strong {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
}

h2 {
  margin: 0;
  font-weight: bold;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 18px;
}

h3 {
  margin: 0;
  font-weight: bold;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
}

.papertitle {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.name {
  padding-top: 20px;
  font-weight: bold;
  margin: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 28px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: white;
}

/* resizing JS D3 / margin-top: -100px; is what finally fixed the positioning */
.svg-container {
    float:top;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    vertical-align:top;
    padding: 50px;
    margin-top: -30px;
    font-size: 0;
  }
.svg-content {
    display: inline-block;
    position: absolute;
    vertical-align: top;
    width: 100px;
    height: 100px;
    left: 32.5%;
    top: 50%;
}
