/*-------------------------- BEGIN JM --------------------------*/

:root {
  --maincol:#000000;
  --linkcol:#446CCF;
  --pubcol:#746CC0;
  --buttoncol: white;
}

#box {
  width: 300px;
  border: solid rgb(0, 0, 0) 2px;
  padding: 30px;
  margin: 20px;
}

a {
  color: var(--maincol);
  text-decoration: none;
}

/* unvisited link (Mocha mousse: #9e7a68) */
a.normal:link {
  color: var(--linkcol);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: var(--linkcol);
}

/* mouse over link */
a:focus, a:hover {
  color: var(--pubcol);
}

/* selected link */
a:active {
  color: var(--linkcol);
}

/* link with button border */
a.button:link, a.button:visited {
  color: var(--maincol);
  border: 1px solid var(--maincol);
  border-color: white;
  background-color: var(--buttoncol);
  padding: 2px;
  border-radius: 1px;
  font-size: 11px;
  text-transform:uppercase;
}
a.button:hover, a.button:active {
  color: var(--pubcol);
}

/* link with button border (background-color: #d1907d) */
a.venue:link, a.venue:visited {
  color: var(--pubcol);
  border: 1px solid var(--pubcol);
  border-color: white;
  background-color: var(--buttoncol);
  padding: 2px;
  border-radius: 1px;
  font-size: 11px;
  text-transform:uppercase;
}
a.venue:hover, a.venue:active {
  color: #A020F0;
}

/* academicons and font awesome colors */
/* 
.fa {
  padding: 20px;
  font-size: 40px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
*/

/*
.scholar-icon {
    font-size: 40px;
    color: #b48f7e; 
    text-decoration: none;
    transition: color 0.3s;
}
*/
a.scholar-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px; /* Adjust size */
  height: 48px; /* Adjust size */
  background-color: var(--buttoncol); /* Google Scholar blue */
  border: 1px solid var(--maincol);
  border-color: white;
  border-radius: 3px; /* 8px = Rounded corners ; 50% = round */
  color: var(--maincol); /* White icon */
  fill: white;
  font-size: 40px; /* Adjust icon size */
  text-decoration: none;
  transition: background-color 0.3s ease;
}
a.scholar-icon:link {
  color: var(--maincol);
}
a.scholar-icon:hover, a.scholar-icon:active {
  background-color: var(--buttoncol);
  color: var(--pubcol);
}

/*
.linkedin-icon {
  font-size: 40px; 
  color: #b48f7e; 
  text-decoration: none;
  transition: color 0.3s;
}
*/
a.linkedin-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 48px; /* Adjust size */
      height: 48px; /* Adjust size */
      background-color: var(--buttoncol); /* LinkedIn blue */
      border: 1px solid var(--maincol);
      border-color: white;
      border-radius: 3px; /* 8px = Rounded corners */
      color: var(--maincol); /* White icon */
      fill: white;
      font-size: 40px; /* Adjust icon size */
      text-decoration: none;
      transition: background-color 0.3s ease;
  }
a.linkedin-icon:link {
color: var(--maincol);
}
a.linkedin-icon:hover, a.linkedin-icon:active {
  background-color: var(--buttoncol);
  color: var(--pubcol);
}

/* 
.cv-icon {
  font-size: 40px; 
  color: #b48f7e; 
  text-decoration: none;
  transition: color 0.3s;
}
*/
a.cv-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px; /* Adjust size */
  height: 48px; /* Adjust size */
  background-color: var(--buttoncol); /* Change background color */
  border: 1px solid var(--maincol);
  border-color: white;
  border-radius: 3px; /* 8px = Rounded corners */
  color: var(--maincol); /* White icon */
  fill: white;
  font-size: 40px; /* Adjust icon size */
  text-decoration: none;
  transition: background-color 0.3s ease;
}
a.cv-icon:link {
color: var(--maincol);
}
a.cv-icon:hover, a.cv-icon:active {
  background-color: var(--buttoncol);
  color: var(--pubcol);
}

a.github-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px; /* Adjust size */
  height: 48px; /* Adjust size */
  background-color: var(--buttoncol); /* Change background color */
  border: 1px solid var(--maincol);
  border-color: white;
  border-radius: 3px; /* 8px = Rounded corners */
  color: var(--maincol); /* White icon */
  fill: white;
  font-size: 40px; /* Adjust icon size */
  text-decoration: none;
  transition: background-color 0.3s ease;
}
a.github-icon:link {
color: var(--maincol);
}
a.github-icon:hover, a.github-icon:active {
  background-color: var(--buttoncol);
  color: var(--pubcol);
}


/*-------------------------- END JM --------------------------*/



.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: white !important;
}


.link {
  color: var(--linkcol);
  text-decoration: none;
}

.link .hero-body {
  color: var(--linkcol);
  text-decoration: none;
}


.footer .icon-link {
    font-size: 25px;
    background-color: white !important;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--linkcol);
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
  background-color: var(--maincol);
}

.teaser {
  font-family: 'Helvetica', 'Arial', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
  background-color: var(--maincol);
}

.publication-title {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.publication-authors {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: var(--linkcol);
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
  width: 80%; 
  margin: auto;
}

.results-carousel .item {
  margin: 10px;
  overflow: hidden;
  padding: 0px;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.slider-pagination .slider-page {
  background: black;
}

.eql-cntrb { 
  font-size: smaller;
}



